<div id="footer" style="padding: 2em">
<p style="text-align: right">
<a href="{$prefix}">{t}Home{/t}</a> /
<a href="{$prefix}help">{t}Help{/t}</a> /
<a href="{$prefix}about">{t escape=no sn="$sn_styled"}About %1{/t}</a>
</p>

</div>
</div>
</body>
</html>
