{$e=$p|@my_encode_b64}
{$u="{$prefix}qr?p={$e}"}
{$imgurl=""}

<div>
{if $p == ''}
<a href="{$prefix}"><img src="{$prefix}qr/home.png" alt="QR-code" /></a>
{else}
<a href="{$prefix}{$p|escape}"><img src="{$prefix}qr/{$e}.png" alt="QR-code" /></a>
{/if}
</div>
