@font-face {
    font-family : "Kiloji B";
    src: url('../fonts/kiloji_b.woff') format('woff');
}

h1 {
    font-family: 'Kiloji B';
}

h2 {
    font-family: 'Kiloji B';
}

span.csp {
    font-family: 'Kiloji B';
}
