form.inline {
    display: inline;
}

button.hidden {
    display: none;
}
tr.unfoldable-row {
    display: none;
}
tr.in {
    display: table-row;
}
tr.in > td {
    border: none;
}
tr.secondary > td {
    border: none;
}
button.center-block {
    margin-top: 1em;
    margin-bottom: 1em;
}