@font-face {
    font-family : "Kaushan Script";
    src: url('../fonts/KaushanScript-Regular.woff') format('woff');
}

h1 {
    font-family: 'Kaushan Script';
}

h2 {
    font-family: 'Kaushan Script';
}

span.csp {
    font-family: 'Kaushan Script';
}

form.inline {
    display: inline;
}
